---

- name: git clone sal
  sudo: True
  git: repo=https://github.com/grahamgilbert/sal.git
       dest={{ sal_env_path }}/sal

- name: tweak sal.wsgi if not installing to /usr/local/sal_env
  sudo: True
  lineinfile: dest={{ sal_env_path }}/sal/sal.wsgi
              regexp="^SAL_ENV_DIR"
              line="SAL_ENV_DIR = '{{ sal_env_path }}'"
  when: sal_env_path != '/usr/local/sal_env'

- name: pip install virtualenv 1.10.1
  sudo: True
  pip: name=virtualenv
       version=1.10.1
