#!/usr/bin/env bash

{{ sal_mysql_setup_cmd }} -e "CREATE DATABASE {{ sal_db_name }};"
{{ sal_mysql_setup_cmd }} -e "CREATE USER '{{ sal_db_user }}'@'localhost' IDENTIFIED BY '{{ sal_db_passwd }}';"
{{ sal_mysql_setup_cmd }} -e "GRANT ALL PRIVILEGES ON {{ sal_db_name }}.* TO '{{ sal_db_user }}'@'localhost';"
{{ sal_mysql_setup_cmd }} -e "FLUSH PRIVILEGES;"
