#!/usr/bin/env bash

mysqladmin -h127.0.0.1 -u root password {{ sal_mysql_passwd }}
{{ sal_mysql_secure_cmd }} -e "UPDATE mysql.user SET Password=PASSWORD('{{ sal_mysql_passwd }}') WHERE User='root'"
{{ sal_mysql_secure_cmd }} -e "DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1')"
{{ sal_mysql_secure_cmd }} -e "DELETE FROM mysql.user WHERE User=''"
{{ sal_mysql_secure_cmd }} -e "DELETE FROM mysql.db WHERE Db='test' OR Db='test\_%'"
{{ sal_mysql_secure_cmd }} -e "FLUSH PRIVILEGES"
