WSGISocketPrefix /var/run/wsgi
<VirtualHost *:80>
ServerName {{ sal_hostname }}
WSGIScriptAlias / /usr/local/sal_env/sal/sal.wsgi
WSGIDaemonProcess sal user=saluser group=salgroup
Alias /static/ /usr/local/sal_env/sal/static/
<Directory /usr/local/sal_env/sal>
       WSGIProcessGroup sal
       WSGIApplicationGroup %{GLOBAL}
       Order deny,allow
       Allow from all
</Directory>
</VirtualHost>
