WSGISocketPrefix /var/run/wsgi
<VirtualHost *:80>
ServerName {{ sal_hostname }}
WSGIScriptAlias / {{ sal_env_path }}/sal/sal.wsgi
WSGIDaemonProcess sal user={{ sal_user }} group={{ sal_group }}
Alias /static/ {{ sal_env_path }}/sal/static/
<Directory {{ sal_env_path }}/sal>
       WSGIProcessGroup sal
       WSGIApplicationGroup %{GLOBAL}
       Order deny,allow
       Allow from all
</Directory>
</VirtualHost>
